@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&family=Spartan:wght@500&display=swap');

body {
  font-family: $raleway;
}

p {
  font-size: $medium;
  color: $grey;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: $bold;
}
