// Colors
$white: #ffffff;
$black: #000000;
$grey: #787878;
$light-grey: #ddd;
$salmon: #ff5f40;
$sky: #00b7c2;

// Fonts
$raleway: 'Raleway', sans-serif;
$spartan: 'Spartan', sans-serif;

// Font Weight
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Font Size
$xx-large: 30px;
$x-large: 22px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
$xx-small: 9px;
